   <!-- this adds Foundation Icon Fonts!! -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    
    <div class="row">
       <div class=" small-12  small-centered columns">     
           <div class="profile-info">
              <div class="item">
                 <p>Rank 12</p>
              </div>
           
            <img src="images/logo.png">  
                    
           
            <div class="item">
                <h4>Robert Brennan </h4>
                
                <p>Rank Em Bitch</p>
                            
            </div>
            
            
                  
            <div class="profile-info item">
        
              <ul class="inline-list">
                <li><a href="">100<i class="fi-anchor "></i></a></li>
                <li><a href="">100<i class="fi-anchor"></i></a></li>
                <li><a href="">100<i class="fi-anchor"></i></a></li>
                </ul>
            </div>
        </div>
    
  
    </div>
        
   <div class="players" >
    <div class="row">
        <div class="small-12  columns">
            
        <div class="small-2 columns ">
            <div ui-sref="app.playersetscore" class="player-item">
               
              <p class="score">12/6</p>
           </div>
        </div>
     
        <div class="small-2 columns ">
            <div class="playerinfo">
              <img src="images/logo.png">  
            </div>
         </div>
            
         <div class="small-4 columns ">
             <div class="playerinfo">
              <p > Rob Brennan</p>
              <p > rank 12</p>
              </div>
             </div>
            
            
            <div class="small-2 columns ">
                <ul class="playerresult" >
                <li><i class="fi-anchor size-72"></i><a href="">100</a></li>
                <li><i class="fi-anchor"></i><a href="">100</a></li>
                <li><i class="fi-anchor"></i><a href="">100</a></li>
                </ul>
                
            </div>
            <div class="small-2 columns ">
                <div class="playeraction">
            <i class="fi-braille"></i>
            </div>
            </div>
            
     </div>
   </div>
</div>
