<!--LOGIN IN FORM START-->


<form name="myform"
ng-submit="login()"
novalidate>

<input type="email" name="email" placeholder="Email"
ng-model="user.email" ng-required="true">
<p style="background-color: #fff;" class="error validationerror"
ng-show="myform.email.$invalid && myform.email.$touched">
Must be a valid email</p>


<input style="background-color: #fff;" type="password" name="password"
placeholder="Password"
ng-model="user.password" ng-required="true">
<p class="error validationerror"
ng-show="myform.password.$invalid && myform.email.$touched">
Password is required</p>


<button type="submit" class="button expand"
ng-disabled="myform.$invalid">Login
</button>

<h4 class="register" ui-sref="app.registration">Register</h4>
</form>
