//Alerts

.confirm{
    background-color: rgba(255, 0, 100, 0.3) !important;
    border: 1px solid $brand-main-color;

}


alert-box {
    background-color: #5592BB;
    margin-left: 20px;

    //85 146 187
}
.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.8125rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 0.875rem  0.875rem 0.875rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: $alertsend;
    color: #fff;
}

.alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
}

alert {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.8125rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #fff;

}

.alert-circle-left {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: $poolbear;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;

    margin-left: 10px;
}
.alert-circle-right {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: $poolbear;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;

    margin-right:10px;
}



.blue {
    background-color: #f2f2f2;
}

.alert-box.recieve {
    border: 1px solid grey;
    border-radius: 5px;
    background-color:grey;
}

.alert-box.send {
    border: 1px solid $poolbear;
    border-radius: 5px;
    background-color:rgba(30,57,78,0.3) ;


}

.alert-box.warning {
    border: 3px solid $alertfrom;
    border-radius: 5px;
    background-color:rgba(211, 84, 0, 0.2);
}

.alert-box.success {
    border: 3px solid #fda3a5;
    border-radius: 5px;
    background-color:rgba(235, 111, 155, 0.2);
}

.alert-box.info {
    border: 3px solid #3498DB;
    border-radius: 5px;
    color: #fff;
    background-color:rgba(52, 152, 219, 0.2);
}

.alert-box  {

    h3{
        color:$brand-fifth-color;
    }

    span{
        margin-right:20px;
    }
    em, i {

        font-size: 12px;
    }

    i {
        //border: 2px solid #fff;
        border-radius: 50%;
        padding: .2em .4em;
        text-align: center;
    }
    .close {
        background: transparent;
        color: #fff;
        font-size: 2rem;
        top: 19px
    }
}