/////Page Transition Animation 
.ng-enter
      {
          -webkit-transition: 1s;
          transition: 1s;
          opacity:0;
      }
      .ng-enter-active
      {
          opacity:1;
      }
      .ng-leave
      {
          -webkit-transition: 0s;
          transition: 0s;
      }
      .ng-leave-active
      {
          opacity:0;
      }
      
      
      /* Animation */
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    left: 0;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    left: -50px;
}