//buttons

button, .button {

    background-color: $poolbear;
    border-color: #fda3a5;
    font-size:  $paragraph-font-size;

}

.button-group {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    &:before {
        content: attr(data-grouptype);
        z-index: 99999;
        color: #999;
        display: block;
        font-size: 1rem;
        padding: 0.25em;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 42.5%;
        top: 0.35rem;
    }
    button + button {
        margin-left: 5px;}
}


button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: $poolbear;
    border-color: #b44e50;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 1;

}


button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: $brand-secondary-color !important;
}

.active {
    background: blue;
}


button:hover, button:focus, .button:hover, .button:focus {
    color: #FFFFFF;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: $brand-secondary-color;
}


.switch-toggle-wrapper {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;

    .switch {
        margin-bottom: 0;
    }
}

.callout{

    padding:50px;
}


//DROPDOWN START
.f-dropdown li a {
    display: block;
    padding: 1.5rem;
    color: white;
    background: $brand-main-color;
    text-align: left;
}


.f-dropdown li a:hover {
    background: $poolbear;
}

.f-dropdown li a:focus {
    background: $poolbear;
}

.f-dropdown li a:active {
    background: $poolbear;
}

.filter-section-left{
    display: inline-block;
    width: 85%;
    float: right;
    button{
        margin-right: 2px;
        background-color: $brand-main-color;
        border-radius: 30px 5px 5px 30px;
        text-align: left;

    }

}

.filter-section-right{
    display: inline-block;
    width: 85%;
    float: left;
    button{
        margin-left: 2px;
        background-color: $brand-main-color;
        border-radius: 5px 30px 30px 5px;
        text-align: right;

    }

}

