//icons

.fi-graph-bar:before {
    content: "\f153";
    font-size: 22px;
    vertical-align: text-bottom;
}

.fi-torso:before{
    vertical-align: text-bottom;

}

.fi-home:before{
    vertical-align: text-bottom;

}

.fi-widget:before{
    vertical-align: text-bottom;

}
.fi-map:before{
    vertical-align: text-bottom;

}



.fi-plus:before {
    content: "\f199";
    font-size: 28px !important;
    bottom: 0px;
    vertical-align: text-bottom;
}

.fi-paw:before {
    content: "\f192";
    text-align: center;
    font-size: 60px;
    vertical-align: text-bottom;
}

.fi-braille{
    font-size: 30px;
    vertical-align: text-bottom;

}

.fa-star:before {
    content: "\f005";
    vertical-align: text-bottom;

}


.fa-star-o:before {
    content: "\f006";
    color: #3f3739;
    vertical-align: text-bottom;

}

