.logo{
  margin-top: 20%;
  margin-bottom: 2%;
  margin-left: 0px;
  text-align: left;
  color:$brand-third-color;
  display: inline-block;
  width:100%;
  text-align: center;

}

#Outer{
  width:160px;
  height: 160px;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #Outer{  width:160px;
           height: 160px;
           margin-left:0px ;
  }
}

.logoitem{
  width: 40px;
}

span h1 {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  color: $brand-third-color;
  font-family: $Lato;
  font-weight: bold;

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  span h1{
    font-size: 20px;
  }
}


.logo-text{
  padding: 10px 0 60px 0;

  h1{
    font-family:$Quicksand;
    font-size: 35px;
    //color: $brand-main-color;
  }
  p{
    color:$brand-main-color;
    letter-spacing: 2px;
  }
}
