<!--  login Section Start  -->
<div class="row">
    <div class="small-12 medium-6 medium-centered columns ">
        <div class="profile-card" ng-show="currentUser" ng-controller="RegistrationController">
            <div class="title">
                <h3>Welcome</h3>
                <h1>{{ currentUser.firstname}}<span><a ng-href="#/login" ng-click="logout()">logout</a>  </span></h1>
                <p ng-if = "bearShow">Return to Bears<span><a ng-href="#!/success">bears</a>  </span></p>
                <p ng-if = "imageUploadShow"> Return to Bears<span><a ng-href="#!/images">Next</a>  </span></p>


            </div>
        </div>


        <div class="container">

            <section class="login-box" ng-hide="currentUser">

                <div class="row">

                    <div class=" small-12 columns small-centered ">
                        <if-logo></if-logo>

                        </a>

                    </div>
                </div>


                <!--LOGIN FORM START -->
                <div class="row">
                    <div class="  small-10 medium-12 columns small-centered">
                        <tb-login-form></tb-login-form>
                    </div>
                </div>
                <!--LOGIN FORM END -->


            </section>


        </div>
    </div>
</div>

