<!-- SLIDER CONTENT END-->
<div class="white">
    <div class="content-container">
        <div class="content">
            <!--<h2 class="content-title">Single Item</h2>-->

            <script type="text/ng-template" id="tpl2.html">

                <div class="menu-image">
                <div class="poster">
                    <img src="{{i.contentMeta.poster_mage_600x900}} "
                    style="cursor:pointer; max-width:300px;"/>
                    </div>
                </div>
                <div class="menu-title"><h2>{{i.name | cutText:true:40:' ...'}}</h2></div>
            </script>

            <!--<script type="text/ng-template" id="tpl2.html">-->
                <!--<h3>{{ i }}</h3>-->
            <!--</script>-->

            <!--<slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded" dots="true">-->
                <!--<div ng-repeat="i in number1 track by $index">-->
                    <!--<div class="" ng-include="'tpl2.html'"></div>-->
                <!--</div>-->
            <!--</slick>-->

            <!--<div>-->
                <!--<button class="btn btn-info" ng-click="slickConfig.method.slickFilter(':even')">Filter</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig.method.slickUnfilter()">unFilter</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig.method.slickGoTo(2)">GoTo(2)</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig.method.slickPrev()">Prev()</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig.method.slickNext()">Next()</button>-->
                <!--<button class="btn btn-info" ng-click="updateNumber1()">Update/Add()</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig.method.slickRemove(3)'>Remove(3)</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig.method.slickPlay()'>Play()</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig.method.slickPause()'>Pause()</button>-->
            <!--</div>-->

            <!--<h2 class="content-title">Multiple Items</h2>-->
            <!--<slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded">-->
                <!--<div ng-repeat="i in number3  track by $index">-->
                    <!--<div class="" ng-include="'tpl.html'"></div>-->
                <!--</div>-->
            <!--</slick>-->

            <h2 class="content-title">Highlights</h2>
            <slick class="slider" settings="slickConfig3" ng-if="slickConfig3Loaded">
                <div ng-repeat="i in number3">
                    <div ui-sref="app.movies.movie({ id: i.id })" style="margin-right: 20px;"  ng-include="'tpl2.html'"></div>

                </div>
            </slick>





            <!--<h2 class="content-title">Variable Width</h2>-->

            <!--<slick class="slider" settings="slickConfig4" ng-if="slickConfig4Loaded">-->
                <!--<div ng-repeat="i in number4">-->
                    <!--<div style="width:{{ i.label }}px;height:100px" ng-include="'tpl.html'"></div>-->
                <!--</div>-->
            <!--</slick>-->

            <!--<div>-->
                <!--<button class="btn btn-info" ng-click="slickConfig4.method.slickGoTo(2)">GoTo(2)</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig4.method.slickPrev()">Prev()</button>-->
                <!--<button class="btn btn-info" ng-click="slickConfig4.method.slickNext()">Next()</button>-->
                <!--<button class="btn btn-info" ng-click="updateNumber4()">Update/Add()</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig4.method.slickRemove(3)'>Remove(3)</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig4.method.slickPlay()'>Play()</button>-->
                <!--<button class="btn btn-info" ng-click='slickConfig4.method.slickPause()'>Pause()</button>-->
            <!--</div>-->

        </div>
    </div>
</div>


