
//this fixes the full height issue
.full-height {
   min-height: 100vh;


}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
    color: #1c344c;
    font-weight: bold;
    line-height: 2.8125rem;
    margin: 0;
    padding-left:0px;

  }



right-off-canvas-toggle .globe{
 font-color:white;
 padding:30px;
 font-size:30px;
 background:red;
}

.off-canvas-wrap,.inner-wrap,.main-section{
      height:100%;
  }
//Foundation
.left-small {

    height: 2.8125rem;
    position: absolute;
    top: 0;
    width: 2.8125rem;
    border-right: solid 0px #ed1b24;
    left: 0;
    padding-top: 10px;
}
.left-small a{
    margin:0 auto;
    color:white;
    padding-left:7px;
    font-size:20px

}
.right-small {

    height: 2.8125rem;
    position: absolute;
    top: 0;
    width: 2.8125rem;
    border-right: none !important;
    border-left: none;
    right: 0;
}
.right-small a{
    margin:0 auto;
    color:$brand-main-color;
    padding-left:2px;
    font-size: 12px;



}
ul.off-canvas-list li a {
    border-bottom: none;
    color: $brand-fifth-color;
    display: block;
    padding: 0.66667rem;
    font-size: 12px;
    padding-left: 3.2rem;
    text-align: left;
    transition: background 300ms ease;
}

ul.off-canvas-list li label {
    background: #09090b !important;
    border-bottom: none;
    border-top: 1px solid #5e5e5e;
    color: #999999;
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    padding: 0.3rem 0.9375rem;
    text-transform: uppercase;
}

.tab-bar {
    -webkit-backface-visibility: hidden;
    background: #FCFCFC;
    color: #FFFFFF;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
    background-color: rgba(0,0,0,0);
}





.tab-bar .back {
    color: #FFFFFF;
    display: block;

    height: 2.8125rem;
    background-color: #ed1b24;
    padding: 0;
    position: relative;
    text-indent: 2.1875rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 2.8125rem;

}

.tab-bar-section.middle {
    left: 2.8125rem;
    right: 2.8125rem;

}

.tab-bar-section {
    height: 2.8125rem;
    padding: 0 ;
    position: absolute;
    text-align: center;
    top: 0;

}



.menu {
    background-color: #162028;
    color: #cccdcd;
}


.tab-bar .menu-icon {
    color: #FFFFFF;
    display: block;
    height: 2.8125rem;
    padding: 0;
   background-color:#121116;
    position: relative;
    text-indent: 2.1875rem;
    transform: translate3d(0, 0, 0);
    width: 2.8125rem;
}



.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
    color: #1c344c;
    font-weight: bold;
    line-height: 2.8125rem;
    margin: 0;
}

//Controll Right Menu
.right-off-canvas-menu {
    -webkit-backface-visibility: hidden;
  color:white;
  text-align: left;
    background: $poolbear;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    transition: -webkit-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 1001;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate(100%, 0);
    transform: translate3d(100%, 0, 0);
    right: 0;
    top: 0;

  ul li {
    padding:10px;

  }
}



.footballBear{
//Controll Left Menu
.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    background:$football;
    overflow:hidden;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height:100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    transition: -webkit-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 1001;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate(-100%, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;

 }
}



.move-left .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  box-shadow: none;

}


ul.off-canvas-list li a {
  border-bottom: none;
  color: white;
  display: block;
  font-size: 12px;
  padding-left: 2.2rem;
  text-align: left;
  transition: background 300ms ease;
  font-size: 12px;
  margin-bottom: 20px;
}

ul.off-canvas-list li a:active {
  background: $poolbear;
  color: white;
}
ul.off-canvas-list li a:hover {
  background: $poolbear;
  color: white;
}

ul.off-canvas-list li:first-child  {
  margin-top: 20%;
}



.redbox  {


        width:20px;
        height:20px;

}


.off-canvas-wrap,.inner-wrap{
    height:100%;
}

/* Kamil*/
#mainmenu>li>a>span{
    left:40px;
    position:absolute;
    }
#mainmenu>li>a.active>i{
    color:#ed1b24 !important;
}
#mainmenu>li.has-submenu>a.active{
    color:#ed1b24 !important;
}

.rotate,
.rotateCounterwise {
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}
.rotate {
    -webkit-transform: rotate(90deg);
}
.rotateCounterwise {
    -webkit-transform: rotate(0deg);
}


* {
  margin: 0;
  padding: 0;
}


/*Hamburger Icon */


.icon-hamburger {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 22px;
  height: 22px;
  top: 1px;
  -webkit-transform-origin: 40% 40%;
      -ms-transform-origin: 40% 40%;
          transform-origin: 40% 40%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.1, 1);
          transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1); }



  .icon-hamburger__bar {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 1px;
    background-color: $poolbear;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.1, 1), opacity 0.2s cubic-bezier(0, 0, 0.1, 1);
            transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1), opacity 0.2s cubic-bezier(0, 0, 0.1, 1);
    top: 7px; }

    .icon-hamburger__bargolf {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 1px;
    background-color: red;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.1, 1), opacity 0.2s cubic-bezier(0, 0, 0.1, 1);
            transition: transform 0.3s cubic-bezier(0, 0, 0.1, 1), opacity 0.2s cubic-bezier(0, 0, 0.1, 1);
    top: 7px; }



    @media screen and (min-width: 640px) {
      .icon-hamburger__bar {
        background-color: $brand-secondary-color; } }
    .icon-hamburger__bar--first {
      margin-top: 0;
      top: 0; }
    .icon-hamburger__bar--last {
      margin-top: 0;
      top: 14px;
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom; }
  .icon-hamburger--close {
    top: -2px;
    -webkit-transform: rotate(180deg) translate(0px, 1px);
        -ms-transform: rotate(180deg) translate(0px, 1px);
            transform: rotate(180deg) translate(0px, 1px); }
    .icon-hamburger--close .icon-hamburger__bar {
      opacity: 0; }
      .icon-hamburger--close .icon-hamburger__bar--first {
        top: -2px;
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
            -ms-transform: rotate(45deg) translate(-2px, -1px);
                transform: rotate(45deg) translate(-2px, -1px); }
      .icon-hamburger--close .icon-hamburger__bar--last {
        top: 11px;
        opacity: 1;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }

/*      Alert Icon*/

.fi-alert:before {
  content: "\f101";
  color: $poolbear;
  font-size: 22px !important;
}


sup{

  color: #666666;
}

  .activaties{

    width:80%;
  }


  /////////////////////////

/*  @baseBg: #ececec;
@baseTxt: #3f3739;
@hoverColor: #5fd8dd;
body{
  background-color: @baseBg;
  color: @baseTxt;
}*/
a{
  color: #3f3739;
  text-decoration: none;
}

.slideshow{
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0px auto 0px auto;
  text-align: center;
}
.slide{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #fda3a5;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.overlay{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid #b44e50;
  overflow: hidden;
}
.overlay-shadow{
  box-shadow: inset 0px 1px 20px #1a191d;
  opacity: 1;
}
.overlay-highlight{
/*  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;*/
}
.active{
  opacity: 1;
}

.slide img.horizontal{
  max-height: 100%;
  width: auto;
}
.slide img.vertical{
  max-width: 100%;
  height: auto;
}
.slideshow-nav{
  width: 500px;
  margin: -175px auto 0 auto;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.nav-link{
  transition: color 0.25s linear;
  padding: 0px 5px;
}
.nav-link:hover{
  color: #222;
}
.nav-link em{

}
.previous{
  float: left;
}

.next{
  float: right;
}


/*Icons*/

.iconslideshow{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0px auto 0px auto;
  text-align: center;
}
.iconslide {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid white;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;

  img{
    border-radius: 50%;
  }
}

.iconoverlay{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffff;
  overflow: hidden;
}
.iconoverlay-shadow{
  //box-shadow: inset 0px 1px 10px #1a191d;
  box-shadow: none;
  opacity: 1;
}
.iconslide img.horizontal{
  max-height: 100%;
  width: auto;

}
.iconslide img.vertical{
  max-width: 100%;
  height: auto;

}
.iconoverlay-highlight{
/*  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;*/
}

/*.activeBear {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid pink;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}*/


.move-right .exit-off-canvas {
    -webkit-backface-visibility: hidden;
    box-shadow: none;
    cursor: pointer;
    transition: background 300ms ease;
    -webkit-tap-highlight-color: transparent;
    background: $background-color-outer;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
    opacity: 0.6;
}

ul.off-canvas-list li a {
  border-bottom: none;
  color: white;
  display: block;
  font-size: 12px;
  padding-left: 3.2rem;
  text-align: left;
  transition: background 300ms ease;
  font-size: 12px;
  margin-bottom: 20px;

}

ul.off-canvas-list li span{
  margin-left: 20px;
  font-size: 14px;
  font-weight:bold;
  text-align: left;
}


.menuList{

  width:100%;
  height:100px;
  margin:50px 0px 0px 40px;
  text-align: left;
  display: inline-block;



  h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    color: $brand-third-color;
    text-align: left;
    font-size: 18px;

  }
  h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    color: $brand-third-color;
    text-align: left;
  }


  .menuIcon{
    width: 30px;
    display: inline-block;
    vertical-align: text-top;

  }

}


