

<div class="wrapper" ng-controller="RegistrationController"  >
   
       <!--Profile name and image Start -->
       <div class="row">
        <div class="small-10 medium-6  columns center"ng-show="currentUser" >

            <ul>
                <li  class=" menuList"  style="margin-top:100px;">
                    <a  ui-sref="app.player"  >
                        <div class="small-3 medium-2  columns">
                            <img class ="menuIcon "  src="/images/icons/icon.svg">
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h1 > PoolBear </h1>
                        </div>
                        <div class="small-3 medium-3 medium-3 columns">
                            <h1 >03</h1>
                        </div>
                    </a>


                </li>

                <li  class=" menuList" >
                    <a  ui-sref="app.player"  >
                        <div class="small-3  medium-2  columns">
                            <img class ="menuIcon "  src="/images/icons/icon.svg">
                        </div>
                        <div class="small-6  columns">
                            <h1 > RunningBear </h1>
                        </div>
                        <div class="small-3 columns">
                            <h1 >10</h1>
                        </div>
                    </a>
                </li>

                <li  class=" menuList" >
                    <a  ui-sref="app.player"  >
                        <div class="small-3  medium-2   columns">
                            <img class ="menuIcon "  src="/images/icons/icon.svg">
                        </div>
                        <div class="small-6  columns">
                            <h1 > GolfBear </h1>
                        </div>
                        <div class="small-3 columns">
                            <h1 >03</h1>
                        </div>
                    </a>
                </li>
                <li  class=" menuList" >
                    <a  ui-sref="app.player"  >
                        <div class="small-3 medium-2   columns">
                            <img class ="menuIcon "  src="/images/icons/icon.svg">
                        </div>
                        <div class="small-6  columns">
                            <h1 > CodeBear </h1>
                        </div>
                        <div class="small-3 columns">
                            <h1 >03</h1>
                        </div>
                    </a>
                </li>
            </ul>


            </div>

           <div class="small-2 columns center" >
           <i class="fi-plus"></i>
           </div>


           </div>

       <!--<div class="row">-->
      <!--<div class="profile-card" style="margin-top: 350px;-->
        <!--" ng-show="currentUser" ng-controller="RegistrationController">-->
                   <!--<div class="title">-->
             <!--<h3>Welcome</h3>-->
             <!--<h1>{{ currentUser.firstname}}<span><a ng-href="#/login" ng-click="logout()">logout</a>  </span></h1>-->

           <!--</div>-->
         <!--</div>-->

        <!--</div>-->
 </div> <!--        Wrapper End -->
    
    
