<div  ng-class="theme" class="wrapper" ng-controller="RegistrationController">

    <div class="row ">



    <!--Profile name and image Start -->
    <div class="row">

        <div class="small-10 medium-6  columns center" ng-show="currentUser" >
            <div ng-repeat="item  in registeredBearsList">
                <ul>
                    <li class=" menuList" >
                        <a ui-sref="app.player" ng-click="changeTheme(item)">
                            <div class="small-3 medium-2  columns">
                                <img class="menuIcon " src="/images/icons/icon.svg">
                            </div>
                            <div class="small-6 medium-6 columns">
                                <h1> {{item}} </h1>
                            </div>
                            <div class="small-3 medium-3 medium-3 columns">
                                <h1>03</h1>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-controller="ActionCtrl">

            <div class="small-2 columns center">
                <i ng-click="chosebear();toggleModal()" class="fi-plus"></i>
            </div>

            <modal show='modalShown'>
                <div class="container">
                    <div class="row " style="padding:0px;">
                        <div class="small-12  columns ">
                            <p>Chose Bears</p>
                        </div>
                    </div>


                    <div class="modallist small-12 columns ">
                        <ul>
                            <!-- Add To Group -->
                            <li>
                                <div class="row" ng-repeat=" bears in bearsList">
                                    <div class="row">



                                        <!--INTRODUCING THE SWITCH-->
                                        <!--<div class="switch-toggle-wrapper">-->
                                            <!--<h3 class="left">{{bears.name}}</h3>-->
                                            <!--<div class="switch right">-->
                                                <!--<input id="exampleSwitch3"-->
                                                        <!--class="switch-input"-->
                                                       <!--id="checkbox"-->
                                                       <!--type="checkbox"-->
                                                       <!--name="exampleSwitch3"-->
                                                       <!--ng-click="isChecked(bears.name, checked )"-->
                                                       <!--ng-model="checked">-->
                                                <!--<label class="switch-paddle" for="exampleSwitch3">-->
                                                    <!--<span class="show-for-sr">{{bears.name}} ON/OFF</span>-->
                                                <!--</label>-->
                                            <!--</div>-->
                                        <!--</div>-->




                                        <h3>{{bears.name}} </h3>
                                        <input id="checkbox" type="checkbox"
                                               ng-click="isChecked(bears.name, checked )"
                                               ng-model="checked">
                                    </div>
                                </div>
                            </li>
                        </ul>




                    </div>




                    <button ng-click="addbears(bearArray);toggleModal()">ok</button>
                </div>
            </modal>
        </div>
    </div>














    <!--<div class="row">-->
    <!--<div class="profile-card" style="margin-top: 350px;-->
    <!--" ng-show="currentUser" ng-controller="RegistrationController">-->
    <!--<div class="title">-->
    <!--<h3>Welcome</h3>-->
    <!--<h1>{{ currentUser.firstname}}<span><a ng-href="#/login" ng-click="logout()">logout</a>  </span></h1>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
</div>
</div>
    
    
