<div  ng-class="theme" class="wrapper" ng-controller="RegistrationController">

    <div class="row ">



    <!--Profile name and image Start -->
    <div class="row">

        <div class="small-10 medium-6  columns center" ng-show="currentUser" >
            <div ng-repeat="item  in registeredBearsList">
                <ul>
                    <li class=" menuList" >
                        <a ui-sref="app.player" ng-click="changeTheme(item)">
                            <div class="small-3 medium-2  columns">
                                <img class="menuIcon " src="/images/icons/icon.svg">
                            </div>
                            <div class="small-6 medium-6 columns">
                                <h1> {{item}} </h1>
                            </div>
                            <div class="small-3 medium-3 medium-3 columns">
                                <h1>03</h1>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-controller="ActionCtrl">

            <div class="small-2 columns center">
                <i ng-click="chosebear();toggleModal()" class="fi-plus"></i>
            </div>

            <modal show='modalShown'>




                                        <!--&lt;!&ndash;INTRODUCING THE SWITCH&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="switch-toggle-wrapper">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<h3 class="left">{{bears.name}}</h3>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="switch right">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input id="exampleSwitch3"&ndash;&gt;-->
                                                        <!--&lt;!&ndash;class="switch-input"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;id="checkbox"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;type="checkbox"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;name="exampleSwitch3"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-click="isChecked(bears.name, checked )"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="checked">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<label class="switch-paddle" for="exampleSwitch3">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<span class="show-for-sr">{{bears.name}} ON/OFF</span>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->



                <div class="callout" id="switch-toggle-all">

                    <div class="switch-toggle-wrapper">
                        <div class="switch">
                            <h3>Choose  Bears</h3>
                        </div>
                        <span></span>
                    </div>
                    <hr>
                </div>


                    <div class="small-12 medium-all-centered columns" ng-repeat=" bears in bearsList">
                        <div style="padding: 10px;" class="callout" id="switch-toggle-all">

                            <div class="switch-toggle-wrapper">
                                <div class="switch">
                                    <h3>{{bears.name}} </h3>
                                </div>
                                <span> <input id="checkbox" type="checkbox"
                                              ng-click="isChecked(bears.name, checked )"
                                              ng-model="checked"></span>
                            </div>

                        </div>
                    </div>




                    <button ng-click="addbears(bearArray);toggleModal()">ok</button>

            </modal>
        </div>
    </div>














    <!--<div class="row">-->
    <!--<div class="profile-card" style="margin-top: 350px;-->
    <!--" ng-show="currentUser" ng-controller="RegistrationController">-->
    <!--<div class="title">-->
    <!--<h3>Welcome</h3>-->
    <!--<h1>{{ currentUser.firstname}}<span><a ng-href="#/login" ng-click="logout()">logout</a>  </span></h1>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
</div>
</div>
    
    
