<!--  MODAL START    -->
<modal show='modalShown'>




    <div class="row profile-card-wrapper" ng-show="currentUser">

        <div class="small-5 medium-3 columns">
            <div class="profile-card" >
               <a ui-sref="app.player">
                   <img ng-src="{{player.userimage}}"></a>
            </div>
        </div>


        <!-- Profile Info Start-->
        <div class="small-7 medium-9 columns">
            <div class="profile-info">

                <div class=" row">

                    <h1>{{ player.firstname}} {{ player.lastname}}</h1>
                </div>
                <div class="row ">
                    <div  style="float:left;" class="ratingProfile">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>


                <div class="row left">
                    <p  class="ratingProfile" style="float:left;"> "{{currentUser.tagline}}"</p>
                </div>
            </div>

        </div>

    </div>

    <!--        {{play}}-->
    <div class="modallist ">
        <ul>
            <!-- home-->



            <!-- Set Challenge-->
            <li>
                <a   ui-sref="app.score">
                    <i class="fi-trophy"> Set Score</i>
                </a>

            </li>



            <!-- Set Challenge-->
            <li>
                <a   ui-sref="app.challenge">
                   <i class="fi-trophy"> Challenge</i>
                    </a>

            </li>

            <!-- Add To Group -->
            <li>

                    <a ui-sref="app.group">
                        <i class="fi-torsos-all">   Add To Group</i>

                    </a>
            </li>

            <!-- Add To Group -->
            <li>

                    <a ui-sref="app.settings">
                            <i class="fi-widget"> Statistics</i>

                    </a>

            </li>
        </ul>
    </div>
</modal>
<!--MODAL END -->