<!--  MODAL START    -->
<modal show='modalShown'>




    <div class="row profile-card-wrapper" ng-show="currentUser">

        <div class="small-5 medium-3 columns">
            <div class="profile-card" >
               <a ui-sref="app.player">
                   <img ng-src="{{player.userimage}}"></a>
            </div>
        </div>


        <!-- Profile Info Start-->
        <div class="small-7 medium-9 columns">
            <div class="profile-info">

                <div class=" row">

                    <h1>{{ player.firstname}} {{ player.lastname}}</h1>
                </div>
                <div class="row ">
                    <div  style="float:left;" class="ratingProfile">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>


                <div class="row left">
                    <p  class="ratingProfile" style="float:left;"> "{{currentUser.tagline}}"</p>
                </div>
            </div>

        </div>

    </div>

    <!--        {{play}}-->
    <div class="modallist ">
        <ul>
            <!-- Set Challenge-->
            <li><a ui-sref="app.result" class="menu-icon">
                    <i class="fi-trophy"> </i><span>Set Score</span>
                </a>
            </li>


            <!-- Set Challenge-->
            <li><a ui-sref="app.challenge" class=" menu-icon">
                    <i class="fi-trophy"> </i><span>Challenge</span>
                </a>

            </li>

            <!-- Add To Group -->
            <li><a ui-sref="app.group" class=" menu-icon">
                    <i class="fi-torsos-all"></i><span>Add To Group</span>

                </a>
            </li>

            <!-- Add To Group -->
            <li><a ui-sref="app.settings" class=" menu-icon">
                    <i class="fi-widget"> </i><span>Statistics</span>

                </a>

            </li>
        </ul>
    </div>
</modal>
<!--MODAL END -->