
<div class="row profile-card-wrapper" ng-model="theme" ng-show="currentUser">

        <div class="small-5 medium-3 columns">
            <div class="profile-card-small" ng-controller="SuccessController">
                <a ui-sref="app.player"><img ng-src="{{currentUser.userimage}}"></a>
            </div>
        </div>


        <!-- Profile Info Start-->

        <div   class="small-7 medium-9 columns">
            <div  ng-class="theme">
            <div  class="profile-info">

                <div class=" row">
                    <h1>{{ currentUser.firstname}} {{ currentUser.lastname}}</h1><span class="userinfo"></span>
                </div>



                <div class="row ">
                    <div  style="float:left;" class="ratingProfile">
                        <div angular-rating
                             ng-model='rating.value'
                             max={{maxValue}}
                             default-value=5
                             icon-empty="fa-star-o"
                             icon-full="fa-star"
                             icon-hover="fa-star"
                             color-base="black"
                             color-selected="#de0c53"
                             color-hover="#de0c53"
                             icon-size="13"
                             on-change="fn()"
                             decimal>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>



