
<div class="row profile-card-wrapper" ng-show="currentUser">



        <div class="small-5 medium-3 columns">
            <div class="profile-card" ng-controller="SuccessController">
                <a ui-sref="app.player"><img ng-src="{{currentUser.userimage}}"></a>
            </div>
        </div>


        <!-- Profile Info Start-->
        <div class="small-7 medium-9 columns">
            <div class="profile-info">

                <div class="row">
                    <h3 style="float:left;">pool</h3>
                    <h3 style="float:left; color:black; padding-left: 0px; opacity:.5;">Bear</h3><span><img
                        class="menuIcon " src="/images/icons/icon.svg"></span>
                </div>
                <div class=" row">
                    <h1>{{ currentUser.firstname}} {{ currentUser.lastname}}<span class="userinfo">
                    <a ng-href="#/login" ng-click="logout()">logout</a></span></h1>
                </div>
                <div class="row ">
                    <div  style="float:left;" class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>


                <div class="row left">
                    <p  class="rating" style="float:left;"> "{{currentUser.tagline}}"</p>
                </div>
            </div>

        </div>

    </div>
</div>


