<div  class="row">

    <div class="small-2 columns" >
        <div class="card-profile-stats-container">
            <div class="card-profile-stats-statistic">
                <span class="stat">{{currentBearObject.wins}}</span>
                <p>Wins</p>

            </div> <!-- /.card-profile-stats-statistic -->
        </div>
    </div>

    <div class="small-2 columns" >
        <div class="card-profile-stats-container">
            <div class="card-profile-stats-statistic">
                <span class="stat">{{currentBearObject.lost}}</span>
                <p>Lost</p>

            </div> <!-- /.card-profile-stats-statistic -->
        </div>
    </div>


    <div class="small-2 columns" >
        <div class="card-profile-stats-container">
            <div class="card-profile-stats-statistic">
                <span class="stat">0</span>
                <p>Challenges</p>

            </div> <!-- /.card-profile-stats-statistic -->
        </div>
    </div>

    <div class="small-2 columns" >
        <div class="card-profile-stats-statistic">
            <span class="stat">0</span>
            <p>followers</p>
        </div> <!-- /.card-profile-stats-statistic -->
    </div>

    <div class="small-2 columns" >
        <div class="card-profile-stats-statistic">
            <span class="stat">0</span>
            <p>Rated</p>
        </div> <!-- /.card-profile-stats-statistic -->
    </div> <!-- /.card-profile-stats-container -->

    <div class="small-2 columns" >
        <div class="card-profile-stats-statistic">
            <span class="stat">0</span>
            <p>Declines</p>
        </div> <!-- /.card-profile-stats-statistic -->
    </div> <!-- /.card-profile-stats-container -->

</div>
