
<div class="row">
    <div class="small-6 columns">
        <div class="filter-section-left">
            <button data-dropdown="drop" aria-controls="drop" aria-expanded="true" class="custom-dropdown-button">Filter
            </button>
            <br>
            <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
                <li ng-repeat="category in playerFilterDropdown">
                    <a ng-click="filterByDropdownCategory(category.id, category.filterName)">{{category.filterName}}</a>
                </li>
            </ul>
        </div>


    </div>

    <div class="small-6 columns">

        <div class="filter-section-right">
            <button data-dropdown="drop2" aria-controls="drop" aria-expanded="true" class="custom-dropdown-button">Sorted
            </button>
            <br>
            <ul id="drop2" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
                <li ng-repeat="category in playerSortDropdown ">
                    <a ng-click="filterByDropdownCategory(category.id, category.filterName)">{{category.filterName}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>




