<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<div class="wrapper" >
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap ">




            <nav class="tab-bar">
                <section class="left-small" ng-hide="showHamburger">
                    <a class="left-off-canvas-toggle " id="startupButton" role="button" aria-label="Toggle Navigation">
                        <i class="icon-hamburger" ng-class="{'icon-hamburger--close': showMenu}">
                            <span class="icon-hamburger__bar  icon-hamburger__bar--first"></span>
                            <span ng-class="classBackground" class="icon-hamburger__bar"></span>
                            <span class="icon-hamburger__bar  icon-hamburger__bar--last"></span>
                        </i>
                    </a>
                </section>


                <section data-ng-show="$state.includes('!app.home')" class="middle tab-bar-section">
                    <div class=" column">
                        <div class="search">
                            <!--        <span><i class="fi-magnifying-glass"></i></span>-->
                            <!--<input  ng-model="query" placeholder="Search for Players" >-->
                        </div>
                    </div>
                    <!--            <h1 class="title">{{$state.current.data.title }}</h1>-->
                </section>

                <section class="right-small" data-ng-show="$state.includes('app.player', 'app.result', 'app.challenges')">
                    <a class="right-off-canvas-toggle fi-alert "><sup>{{howManyNotification}}</sup><span></span></a>
                </section>
            </nav>





            <div ng-class="theme">
            <aside class="left-off-canvas-menu">

                <ul class="off-canvas-list">


                    <!--HOMe-->
                    <li><a ui-sref="app.success" class="left-off-canvas-toggle menu-icon">
                        <i class="fi-home"></i><span>HOME</span>
                    </a>
                    </li>

                    <!--RESULT-->
                    <li><a ui-sref="app.result" class="left-off-canvas-toggle menu-icon">
                        <i class="fi-graph-bar"></i><span>RESULT</span>
                    </a>
                    </li>

                    <!--PLAYER-->
                    <li><a ui-sref="app.player" class="left-off-canvas-toggle menu-icon">
                        <i class="fi-torso"></i><span>PLAYERS</span>
                    </a>
                    </li>

                    <!--PLAYER-->
                    <li><a ui-sref="app.challenge" class="left-off-canvas-toggle menu-icon">
                        <i class="fi-torso"></i><span>CHALLENGES</span>
                    </a>
                    </li>


                    <!--GROUPS-->
                    <li><a ui-sref="app.group" class="left-off-canvas-toggle">
                        <i class="fi-torsos"></i><span>GROUPS</span>
                    </a>
                    </li>

                    <!--SETTINGS-->
                    <li><a ui-sref="app.settings" class="left-off-canvas-toggle">
                        <i class="fi-widget"></i><span >SETTINGS</span>
                    </a>
                    </li>

                    <!--<li><a href="" class="left-off-canvas-toggle">-->
                        <!--<i class="fi-widget"></i><span>Chat</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <li><a ui-sref="app.bio" class="left-off-canvas-toggle"><i class="fi-map"></i>
                        <span>Bio</span>
                    </a>
                    </li>


                    <li><a ui-sref="app.geo" class="left-off-canvas-toggle"><i class="fi-map"></i>
                        <span>GEO</span>
                    </a>
                    </li>



                    <li>
                        <a ui-sref="app.shop" class="left-off-canvas-toggle"><i class="fi-map"></i>
                        <span>Shop</span>
                    </a>
                    </li>

                </ul>
            </aside>
            </div>


            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">

                    <li>
                        <a ui-sref="app.result" class="left-off-canvas-toggle menu-icon">
                            <i class="fi-home"></i><span>Results</span><span>{{howManyNotification}}</span>
                        </a>
                    </li>

                    <li>
                        <a ui-sref="app.challenge" class="left-off-canvas-toggle menu-icon">
                            <i class="fi-home"></i><span>Challenges</span><span>10</span>
                        </a>
                    </li>


                </ul>
            </aside>

            <section class="main-section">
                <div class="full-height">


                    <div ui-view="main"></div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

</div>

<script>
    $(document).foundation();
</script>





