
<div class="row">
    <div class="small-12 medium-all-centered columns">
        <h1>Shop</h1>
    </div>
</div>

<div ng-controller="SlickController">




    <!--**** HHIGHLIGHT SECTION START  ***** -->


    <!--TEMPLATE: tplhighlight Start-->
    <script type="text/ng-template" id="tplhighlight.html">
        <div class="menu-image">
            <div class="poster">
                <img src="{{i.contentMeta.poster_mage_600x900}} " style="cursor:pointer; "/>
            </div>
        </div>

        <div class="row">
            <div class="menu-title"><p>{{i.name}}</p></div>
        </div>
        <div class="row">
            <div class="menu-title"><p>{{i.contentMeta.price}}</p></div>
        </div>

    </script>
    <!--TEMPLATE: tplhighlight END-->



        <!--SECTION TITLE START-->
        <div class="row">
            <div class="section-title">
                <div class="  left">
                    <h1> </h1>
                </div>

                <div class="right">
                    <p><a ui-sref="app.highlight.list"></a></p>
                </div>
            </div>
        </div>
        <!--SECTION TITLE END-->

        <!--CAROUSEL START-->
        <div class="row">
            <slick class="slider" settings="slickConfig3" ng-if="slickConfig3Loaded">
                <div ng-repeat="i in shopData">
                    <div ui-sref="app.movies.movie({ id: i.id })"
                         style="margin-right: 20px;"
                         ng-include="'tplhighlight.html'"></div>

                </div>
            </slick>
        </div>
        <!--CAROUSEL END-->
    </div>
    <!--**** HIGHLIGHT SECTION START  ***** -->


