<button data-dropdown="drop" aria-controls="drop" aria-expanded="true" class="custom-dropdown-button">Dropdown Button</button><br>
<ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
    <li role="menuitem"><a href="#">This is a link</a></li>
    <li role="menuitem"><a href="#">This is another</a></li>
    <li role="menuitem"><a href="#">Yet another</a></li>
</ul>


<button data-dropdown="drop" aria-controls="drop" aria-expanded="true" class="custom-dropdown-button">Dropdown Button</button><br>
<ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false">
    <li role="menuitem"><a href="#">This is a link</a></li>
    <li role="menuitem"><a href="#">This is another</a></li>
    <li role="menuitem"><a href="#">Yet another</a></li>
</ul>
