
<!--Profile Card Start -->
  <div class="row" >
    <div class="small-12 medium-6 large-6 small-centered  columns">        
       <div class="">

        <!-- Profile Image Start-->
        
           <div class="iconslideshow" >
               <div class="iconslide ">
               <img  ng-src="{{player.userimage}}"> ></div>
               <div class="iconoverlay iconoverlay-shadow"></div>
               <div class="iconoverlay iconoverlay-highlight"></div>
           </div>
            <!-- Profile Image End-->
          
          <!-- Profile Info Start-->
          <div class="profile-info" >
          <h4>{{ player.firstname}} {{ player.lastname}}</h4>
          <p>Tagline</p>
          </div><!-- Profile Info End-->

        </div>
     </div>
    </div><!--Profile Card End -->

<div class="small-12 medium-all-centered columns">
    <div class="callout" id="switch-toggle-all">

        <div class="switch-toggle-wrapper">
            <div class="switch">
                Rated
            </div>
            <span>10</span>
        </div>

        <hr />

        <div class="switch-toggle-wrapper">
            <div class="switch">
                Total Wins
            </div>
            <span>231</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
              Total Lost
            </div>
            <span>80</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
                Declined
            </div>
            <span>5</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
                Cheats
            </div>
            <span>6</span>
        </div>


        <div class="row"  style="margin-top: 55px">

            <div class="small-6 column">
                <div class="clipped-circle-graph" data-clipped-circle-graph data-percent="50">
                    <div class="clipped-circle-graph-progress">
                        <div class="clipped-circle-graph-progress-fill"></div>
                    </div>
                    <div class="clipped-circle-graph-percents">
                        <div class="clipped-circle-graph-percents-wrapper">
                            <span class="clipped-circle-graph-percents-number"></span>
                            <span class="clipped-circle-graph-percents-units">of 100</span>
                        </div>
                    </div>
                </div>
            </div>

                <div class="small-6 column right " style="margin-top: 55px;">
                    <h4 style="color:#de0c53;">Wins </h4><p>/lost Ratio</p>
                </div>



        </div>

        <script>$("[data-clipped-circle-graph]").each(function() {
            var $graph = $(this),
                percent = parseInt($graph.data('percent'), 10),
                deg = 30 + (300*percent)/100;
            if(percent > 50) {
                $graph.addClass('gt-50');
            }
            $graph.find('.clipped-circle-graph-progress-fill').css('transform','rotate('+ deg +'deg)');
            $graph.find('.clipped-circle-graph-percents-number').html(percent+'%');
        });</script>




    </div>
</div>

<div class="small-12 medium-all-centered columns">
    <div class="callout" id="switch-toggle-all">

        <div class="switch-toggle-wrapper">
            <div class="switch">
                Bears
            </div>
            <span>Rating</span>
        </div>

        <hr />

        <div class="switch-toggle-wrapper">
            <div class="switch">
                poolBear
            </div>
            <span>10</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
                FIFA
            </div>
            <span>3</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
                squashBear
            </div>
            <span>5</span>
        </div>

    </div>
</div>




