
<!--Profile Card Start -->
  <div class="row" >
    <div class="small-12 medium-6 large-6 small-centered  columns">        
       <div class="profile-card">
       <div class="ranktitle">{{currentUser.rated}}</div>
        <!-- Profile Image Start-->
        
           <div class="iconslideshow" >
           <div class="iconslide ">
           <img  src="http://gatherngo.tonicdigitalmedia.com/images/user/RobBrennan.png"> ></div>
           <div class="iconoverlay iconoverlay-shadow"></div>
           <div class="iconoverlay iconoverlay-highlight"></div>
           </div>
            <!-- Profile Image End-->
          
          <!-- Profile Info Start-->
          <div class="profile-info" >
          <h4>{{ players.firstname}} {{ players.lastname}}</h4> 
          <p>Tagline</p>
          </div><!-- Profile Info End-->
               
          <div class="ranktitle">Rank</div>
          <div class="rank"><h6>12</h6></div>
        </div>
     </div>
    </div><!--Profile Card End -->

    
        <div class=" small-12 medium-6 large-6 small-centered  columns ">  
       <div class="container">
         <div class="profile-card">
           <div class="title">
               <h1> {{ players.firstname}}: Activate</h1>    
           </div>
         </div> 
           </div> 
             </div> 
    
            <!--Player Activities Start-->
            <div class="row" >
               <div class=" small-6 medium-6 large-6 columns small-centered "    >
                <div class="iconslideshow" style="float:right; display:inline; " >
                <div class="iconslide " >
                <img  src="http://gatherngo.tonicdigitalmedia.com/images/svg/poolbear.png" ></div>
                
                <div class="iconoverlay iconoverlay-shadow"></div>
                <div class="iconoverlay iconoverlay-highlight"></div>
                </div><span><h6 style="text-align:center;"> {{players.name}} </h6></span>
               </div>
                
                <div class=" small-6 medium-6 large-6 small-centered  columns "    >
                <div class="iconslideshow" style="float:right; display:inline; " >
                <div class="iconslide">
                <img  src="http://gatherngo.tonicdigitalmedia.com/images/svg/golfbear.png" ></div>
                
                <div class="iconoverlay iconoverlay-shadow"></div>
                <div class="iconoverlay iconoverlay-highlight"></div>
                </div><span><h6 style="text-align:center;"> {{players.name}} </h6></span>
               </div>
            </div>
            <!--Player Activities End-->
