
<!--Profile Card Start -->
  <div class="row" >
    <div class="small-12 medium-6 large-6 small-centered  columns">        
       <div class="">

        <!-- Profile Image Start-->
        
           <div class="iconslideshow" >
               <div class="iconslide ">
               <img  ng-src="{{player.userimage}}"> ></div>
               <div class="iconoverlay iconoverlay-shadow"></div>
               <div class="iconoverlay iconoverlay-highlight"></div>
           </div>
            <!-- Profile Image End-->
          
          <!-- Profile Info Start-->
          <div class="profile-info" >
          <h4>{{ player.firstname}} {{ player.lastname}}</h4>
          <p>Tagline</p>
          </div><!-- Profile Info End-->

        </div>
     </div>
    </div><!--Profile Card End -->

<div class="small-12 medium-all-centered columns">
    <div class="callout" id="switch-toggle-all">

        <div class="switch-toggle-wrapper">
            <div class="switch">
               10
            </div>
            <span>Rated</span>
        </div>

        <hr />

        <div class="switch-toggle-wrapper">
            <div class="switch">
              20
            </div>
            <span>Wins</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
              10
            </div>
            <span>Lost</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
            5
            </div>
            <span>Declined</span>
        </div>

        <div class="switch-toggle-wrapper">
            <div class="switch">
             0
            </div>
            <span>Cheats</span>
        </div>



    </div>
</div>


