<div class="container">
    <div class="small-12 large-12 columns ">



        <!--FORM START START ********************************-->
        <form class=""
              name="myform"
              ng-submit="addNotification('setscore')"
              novalidate>




            <!--PLAYER INFO  START-->
            <div class="setScoreModule">

                <!--PROFILE CARD START-->
                <div class="row" ng-controller="SuccessController">
                    <tb-profiles-card-player-small theme ="{{theme}} " data="playerRecieveScore" ></tb-profiles-card-player-small>
                </div>

            <div class="row">
                <div class="inputwrapper">
                    <input  style="color: #de0c53;" type="number" name="notificationWins"
                           placeholder="0"
                           ng-model="notificationWinsPost" ng-required="true">
                </div>
            </div>


            </div><!-- End Row-->
            <!--PLAYER INFO END********************************-->





            <!--PLAYER INFO  START-->
            <div class="setScoreModule">
                <!--PROFILE CARD START-->
                <div class="row" ng-controller="RegistrationController">
                    <tb-profiles-card-current-small theme ="{{theme}} "></tb-profiles-card-current-small>
                </div>

                <div class="row">
                    <div class="inputwrapper">
                        <input style="color: #de0c53;" class="scoreInput" type="number" name="c"
                               placeholder="0"
                               ng-model="notificationWinsRecieve" ng-required="true">
                    </div>
                </div>
            </div><!-- End Row-->
            <!--PLAYER INFO END********************************-->





            <div class="inputwrapper" ng-controller="ActionCtrl">
                <button style="text-align: center; margin-top:30px;" type="submit" class="expand "
                        ng-disabled="myform.$invalid" ng-click='toggleModal()'>Set Score

                </button>





                <modal show='modalShown'>
                    <div class="score-alert-box ">
                        <h2>{{playerRecieveScore.firstname }} {{playerRecieveScore.lastname }} </h2>
                        <p>has been sent a score request</p>
                        <br>
                        <h3>Total Game</h3>
                        <p>{{totalGame}}</p>

                        <button ui-sref="app.result" class="primary" ng-click='toggleModal()'>ok</button>

                    </div>
                </modal>
            </div>

        </form>


        <!--<div class="row">-->
            <!--<h3 style="text-align: center; padding-top: 100px;">{{playerRecieveScore.firstname }} {{playerRecieveScore.lastname }} </h3>-->
            <!--<div class="statistic">-->
                <!--<div class="small-2 column">wins{{playerRecieveScore.wins}}</div>-->
                <!--<div class="small-2 column">lost{{playerRecieveScore.lost}}</div>-->
                <!--<div class="small-3 column">played{{playerRecieveScore.points}}</div>-->
                <!--<div class="small-3 column">points{{playerRecieveScore.points}}</div>-->
                <!--<div class="small-2 column">cheats{{playerRecieveScore.cheats}}</div>-->

            <!--</div>-->
        <!--</div>-->



    </div>


</div>
    


    
