<div class="container">
    <div class="small-12 large-6 columns">



        <!--FORM START START -->
        <form class=""
              name="myform"
              ng-submit="addNotification()"
              novalidate>


           <!--PLAYER INFO  START-->
            <div class="row">
                <div class="small-5 medium-3 columns">
                    <div class="profile-card-score" ng-controller="SuccessController">
                        <a ui-sref="app.player">
                            <img class="left" ng-src="{{playerRecieveScore.userimage}}">
                        </a>
                    </div>
                </div>
                <div class="small-7 medium-9 columns">
                    <div class="profile-info">
                        <h1>{{ playerRecieveScore.firstname}} {{ playerRecieveScore.lastname}}</h1>
                    </div>
                </div><!-- Profile Info End-->



            <div class="inputwrapper">
                <input type="number" name="notificationWins"
                       placeholder="0"
                       ng-model="notificationWinsPost" ng-required="true">
            </div>

            </div><!-- End Row-->
            <!--PLAYER INFO END-->



            <!--CURRENT PLAYER  START -->
            <div class="row"  >

                <div class="small-5 medium-3 columns">
                    <div class="profile-card-score"  ng-controller="SuccessController">
                        <a ui-sref="app.player">
                            <img class="left" ng-src="{{currentUser.userimage}}">
                        </a>
                    </div>
                </div>

                <!-- Profile Info Start-->
                <div class="small-7 medium-9 columns">
                    <div class="profile-info">
                        <h1>{{ currentUser.firstname}} {{ currentUser.lastname}}</h1>

                    </div>
                </div><!-- Profile Info End-->


            <div class="inputwrapper">
                <input class="scoreInput" type="number" name="c"
                       placeholder="0"
                       ng-model="notificationWinsRecieve" ng-required="true">
            </div>
            </div>
            <!--CURRENT PLAYER END -->


            <div class="inputwrapper" ng-controller="ActionCtrl">
                <button style="text-align: center; margin-top:30px;" type="submit" class="expand "
                        ng-disabled="myform.$invalid" ng-click='toggleModal()'>Set Score

                </button>




                <modal show='modalShown'>
                    <div class="score-alert-box ">
                        <h2>{{playerRecieveScore.firstname }} {{playerRecieveScore.lastname }} </h2>
                        <p>has been sent a score request</p>
                        <br>

                        <button ui-sref="app.result" class="primary" ng-click='toggleModal()'>ok</button>

                    </div>
                </modal>
            </div>

        </form>

        <div class="row">
            <h3 style="text-align: center; padding-top: 100px;">{{playerRecieveScore.firstname }} {{playerRecieveScore.lastname }} </h3>

            <div class="statistic">

                <div class="small-2 column">wins{{playerRecieveScore.wins}}</div>
                <div class="small-2 column">lost{{playerRecieveScore.lost}}</div>
                <div class="small-3 column">played{{playerRecieveScore.points}}</div>
                <div class="small-3 column">points{{playerRecieveScore.points}}</div>
                <div class="small-2 column">cheats{{playerRecieveScore.cheats}}</div>

            </div>

        </div>


    </div>


</div>
    


    
