<!--Profile Card Start -->
  <div class="row" ng-controller="RegistrationController">
      
     
<!--      <notavailable name="name"></notavailable>
       <notavailable name2="name"></notavailable>
      <notavailable message="message "></notavailable>
   -->
      
      <div class="small-12 columns center"ng-show="currentUser" >
       <div class="profile-card"  ng-controller="SuccessController">
       <div class="ranktitle">{{currentUser.rated}}</div>
       <div class="ranktitle">wins:{{currentUser.wins}}</div>
        <!-- Profile Image Start-->
         <a ui-sref="app.player">
           <div class="iconslideshow" >
           <div class="iconslide ">
            <img  src="/images/users/RobBrennan.png"> </div>
            <div class="iconoverlay iconoverlay-shadow"></div>
            <div class="iconoverlay iconoverlay-highlight"></div>
            </div>
          </a>
          <!-- Profile Image End-->
          
          <!-- Profile Info Start-->
          <div class="profile-info" >
          <h4>{{ currentUser.firstname}} {{ currentUser.lastname}}<span class="userinfo"><a ng-href="#/login" ng-click="logout()">logout</a></span></h4> 
          <p>{{currentUser.bears.poolbear.tag}}</p>
          </div><!-- Profile Info End-->
               
          <div class="ranktitle">Rated</div>
          <div class="rank"><h6>12</h6></div>
        </div>
     </div>
    </div><!--Profile Card End -->
         
    
      <!--List Navigation-->
      <div  class="row ">
       <div class="small-12 medium-6  columns">
         <div class="small-2 medium-2 columns "><p>W/L</p></div>
         <div class="small-6 columns ">
             <span ng-include="'components/player/_partials/filterDropdown.tpl.html'"></span>
         </div>             
         <div class="small-2  medium-2 columns " style="text-align:right"><p>Info </p></div>
         <div class="small-2 medium-2  columns " style="text-align:right"><p>Action </p></div>
        </div>
      </div>
      <!--List Navigation End-->




    <div class="row"
         style="padding:0px;"
         ng-show="currentUser"  
         ng-repeat= "(key,player) in players | orderBy:wins "
         ng-controller='ActionCtrl'>

        <div class="small-12 medium-6 columns"  ng-class-odd="'odd'" ng-class-even="'even'">
        <ul  class="player-ul">
               <li class="player-list">
    <!--          {{player.regUser}}-->
                  <div class=" players-item small-2 columns">
                    <span >

                      <a ng-if="filterSet === 1 ||  filterSet === 0" ui-sref="app.playersetscore({ id:player.regUser})">
                       <div class="player-score left">
                           <!--<p   class=" number">{{player.wins}}/{{player.lost}}<br><i class="fi-graph-bar"></i></p>-->
                           <!--<p   class=" number">{{player.wins}}/{{player.lost}}<br><i class="fi-graph-bar"></i></p>-->

                          <!--<div ng-repeat="i in results.checkForResults(player.regUser)">-->
<!--<div ng-repeat="item in (filteredItems = (items | orderBy:'order_prop' | filter:query | limitTo:4))">-->

                               <div   ng-repeat="i in results | filter:player.regUser" >
                                   <p   class="number">{{i.UserWins}}/{{i.playerWins}}<br><i class="fi-graph-bar"></i></p>
                               </div>


                           <!--<p ng-repeat="items in checkForResults(player.regUser)">-->
                           <!--<p class=" number">{{items[0].playerWinsRecieve}}/{{items.lost}}</p>  }<br><i class="fi-graph-bar"></i>-->

                           <!--</p>-->
                       </div>
                      </a>

                        <!--<div ng-repeat="items in results"></div>-->
                         <!--<a ng-if="filterSet === 1 ||  filterSet === 0" ui-sref="app.playersetscore({ id:player.regUser})">-->
                       <!--<div class="player-score left">-->
                           <!--<p   class=" number">{{player.wins}}/{{player.lost}}<br><i class="fi-graph-bar"></i></p>-->
                       <!--</div>-->
                      <!--</a>-->
                     <!--<a  ng-if="filterSet === 2 " ui-sref="app.playersetscore({ id:player.$id})">-->
                       <!--<div class="player-item">-->

                           <!--<p ng-if="filterSet === 2 "  class="score">{{player.playerWinsRecieve}}/{{player.playerLostRecieve}}<br><i class="fi-graph-bar"></i></p>-->

                       <!--</div>-->
                      <!--</a>-->


                    </span>
                   </div>

                 <div class="small-2 columns ">
                  <div class="playerinfo">
                       <a ui-sref="app.playerdetails({ id: player.user.regUser})">
                           <img   ng-src="/images/users/RobBrennan.png">
                       </a>  
                  </div>
                 </div> 

                <div  class=" players-item small-4 columns">

                  <div class="player-info ">

                      <div class="player-name">

                        <span ng-if="filterSet === 1 ||  filterSet === 0" >
                            <h6>{{player.firstname}}{{player.lastname}}</h6>
                        </span>

                        <span ng-if="filterSet === 2 ">
                            <p>{{player.playerFirstname}}{{player.playerLastname}}</p>
                        </span>
                        <span class=""><p>Rated: {{player.rated}}</p></span>
                      </div>
                  </div>
                </div>

                  <div class="small-1 columns ">  
                     <div class="challenge">
    <!--             <img src="images/svg/badge.svg">-->
                 </div>
                  </div>

                  <div class=" players-item small-2 columns   ">
                    <ul class="player-result" >
                        <li ><span><img src="images/svg/win.svg"></span><a  class="number" href="">{{player.wins}}</a></li>
                        <li><span><img src="images/svg/loss.svg"></span><a class="number"  href="">{{player.lost}}</a></li>
                        <li><span><img src="images/svg/points.svg"></span><a class="number" href="">{{player.points}}</a></li>
                    </ul>
                  </div>
    
                    <div class="small-1 columns "  >
                        <div class="action">
<!--                        <img src="http://gatherngo.tonicdigitalmedia.com/images/icon/action.svg" 
                         ng-click='toggleModal()' 
                         style="align:right;"
                         style="text-decoration:none;">-->
                        
                         <img src="/images/svg/action.svg" 
                         ng-click='toggleModal()' 
                         style="align:right; text-decoration:none;"

                    </div>
                   </div>

              </li>
            </ul>
        </div>
<!--          </article>-->
<!--      </div>-->


    <!--        Start of popup    -->
        <modal show='modalShown'>
           <div class="row " style="padding:0px;">
            <div class="small-12  columns ">
               <div class="small-2 columns ">
                <div class="playerinfo">
                  <img src="images/logo.png">  
                </div>
                </div>

             <div class="small-8 columns ">
                 <div class="">
                  <p> Rob Brennan</p>
                  <p> rank 12</p>
                  </div>
                 </div>
                </div>

              </div>
    <!--        {{play}}-->
            <div class="modallist small-12 columns ">
            <ul  >
               <!-- home-->
                <li>
                 <div class="row">
                    <a ui-sref="app.search">
                        <div  class=" small-2 column">
                        <i class="fi-magnifying-glass"></i>
                        </div>
                        <div  class=" small-10 column"> <h3>Search</h3> </div>
                    </a>
                 </div>
                </li>


                <!-- Set Score-->
                 <li >
                 <div class="row">
                  <a ui-sref="app.playersetscore">
                      <div  class=" small-2 column">
                          <i class="fi-graph-bar"></i>
                      </div>
                        <div  class=" small-10 column"> 
                            <h3>Set Score</h3>
                        </div>
                    </a>
                 </div>
                </li>

                 <!-- Set Challenge-->
                 <li>
                 <div class="row">
                  <a ui-sref="app.challenge">
                      <div  class=" small-2 column">
                          <i class="fi-trophy"></i>
                      </div>
                        <div  class=" small-10 column"> 
                            <h3>Challenge</h3>
                        </div>
                    </a>
                 </div>
                </li>

                 <!-- Add To Group -->
                 <li>
                 <div class="row">
                  <a ui-sref="app.group">
                      <div  class=" small-2 column">
                          <i class="fi-torsos-all"></i>
                      </div>
                        <div  class=" small-10 column"> 
                            <h3>Add To Group</h3>
                        </div>
                    </a>
                 </div>
                </li>

                   <!-- Add To Group -->
                 <li>
                 <div class="row">
                  <a ui-sref="app.settings">
                      <div  class=" small-2 column">
                          <i class="fi-widget"></i>
                      </div>
                        <div  class=" small-10 column"> 
                            <h3>Settings</h3>
                        </div>
                    </a>
                 </div>
                </li>         
              </ul>
             </div>
          </modal> 
        </div>


