//icons

.fi-check{
    color: green;
    font-size: 22px;
}

.fi-check:before {
    content: "\f126";
    font-size: 22px;
    color: white;
}

    .fi-x-circle:before {
        content: "\f216";
        font-size: 18px;
    }

.fi-graph-bar:before {
    content: "\f153";
    font-size: 22px;
    vertical-align: text-bottom;
}

.fi-torso:before{
    vertical-align: text-bottom;

}

.fi-home:before{
    vertical-align: text-bottom;

}

.fi-widget:before{
    vertical-align: text-bottom;

}
.fi-map:before{
    vertical-align: text-bottom;

}




.fi-plus:before {
    content: "\f199";
    font-size: 28px !important;
    bottom: 0px;
    vertical-align: text-bottom;
}

.fi-paw:before {
    content: "\f192";
    text-align: center;
    font-size: 60px;
    vertical-align: text-bottom;
}

.fi-braille{
    font-size: 30px;
    vertical-align: text-bottom;

}

.fa-star:before {
    content: "\f005";
    vertical-align: text-bottom;
    color:$brand-main-color;

}

.fa-star-o:before {
    content: "\f006";
    color:$brand-main-color;
    vertical-align: text-bottom;

}




.fi-eye {
    content: "\f147";
    color:#fffff;
    font-size: 22px;
}


.fi-eye:before {
    color:#fffff;
    font-size: 22px;
    content: "\f147";
}




.fi-x{
    content: "\f217";
    color:red;
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
}



.fi-eye:before {
    content: "\f147";
    color:white;
    font-size: 20px;
}

